.burger {
  padding: 0;
  border: none;
  position: relative;
  background-color: transparent;
  height: 64px;
  width: 64px;
  cursor: pointer;
  z-index: 10;
  $root: &;

  &.is-active {
    #{$root}__menu {
      background-color: transparent;
    }

    #{$root}__menu::after {
      top: 0;
      transform: rotate(45deg);
    }

    #{$root}__menu::before {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  &__menu {
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 1px);
    width: 30px;
    height: 2px;
    background-color: $color-default-black;

    &::after,
    &::before {
      content: "";
      height: 2px;
      width: 30px;
      background-color: $color-default-black;
      left: 0;
      top: -8px;
      position: absolute;
    }

    &::before {
      top: 8px;
    }
  }
}
